@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    background: linear-gradient(180deg, rgb(182, 159, 97), rgb(128, 89, 24));
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 360px;
    width: 100%;
}


mark {
    background-color: crimson;
}

h1 {
    color: #fff;
    margin-top: 1em;
    margin-left: 22px;
}

h2 {
    color: #fff;
    text-align: center;
    position: relative;
    top: -30%;
    left: 0;
}

h3 {
    text-transform: uppercase;
    background-color: brown;
    text-align: center;
}

.about{
  position: absolute;
  font-weight: bolder;
  top: 14%;
  margin-left:17%;
}

img {
    width: 15%;
    position: relative;
    height: auto;
    top: 0;
    left: 0;
    border-radius: 30px;
    margin: 12px;
    border: 3px solid brown;
    display: inline-block;
}

main>div {
    border-left: 3px solid #fff;
    margin: 0 auto;
    border-right: 3px solid #fff;
    width: 90%;
    height: auto;
    font-weight: bold;
}

main p{
    text-align: center;
}

a {
    text-decoration: none;
    color: crimson;
    font-size: large;
}

a:hover{
    text-decoration: none;
    color: rgb(255, 3, 53);
    font-size: large;
}

ol,
ul {
    margin-left: 22px;
}

.link{
    text-align: center;
    font-weight: bold;
    height: 60px;
}

@media screen and (max-width:600px)  {

h2 {
    color: #fff;
    text-align: center;
    position: relative;
    top: -7%;
    z-index: 999;
    margin-left: 20px;
    left: 0;
}

.about{
  position: relative;
  top: 11px;
  margin-left:12px;
}

img {
    width: 50%;
    position: relative;
    height: auto;
    top: 0;
    left: 0;
    border-radius: 30px;
    margin: 12px;
    border: 3px solid brown;
    display: inline-block;
}
main>div {
    border-left: 3px solid #fff;
    margin: 0 auto;
    border-right: 3px solid #fff;
    position: relative;
    top: 400px;
    width: 90%;
    height: auto;
    font-weight: bold;
    background-color: rgb(128, 89, 24);
}

.link{
    background-color: rgb(128, 89, 24);
    text-align: center;
    font-weight: bold;
    height: 60px;
    position: relative;    
    top: 400px;
}
}